header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article {

}

aside {

}

#logo {
    width: 10%;
}

#title {

}