body {
    margin: 0;
    min-height: 100vh;

    display: grid;
    grid-template: 20% 1fr 20% / 1fr;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;

    background-color: blanchedalmond;
}

.content {
    display: grid;
    grid-template-columns: 1fr 15%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: aqua;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: aquamarine;
}

section {
    margin: 10px;
}

aside {
    background-color: blueviolet;
}

#logo {
    width: 10px;
}

#title {

}

.group {

}

.group-title {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;

}

.list {
    display: grid;
}

.resource-link {
    display: block;
}